{
  "iotCaPath": "path to the AWS root CA PEM",
  "iotCertPath": "path to your PEM certificate",
  "iotClientId": "the client id",
  "iotThingName": "the name of the thing",
  "iotEndpoint": "the IoT endpoint",
  "iotKeyPath": "path to your PEM private key",
  "iotRegion": "the IoT region you want to use",
  "updateFreq": "frequency at which to update the shadow in secs",
  "interface": "ex: wlan0"
}
