[Unit]
Description=RPi sense hat Hue lamp
After=network-online.target

[Service]
Restart=on-failure
RestartSec=10s
Environment="NODE_PATH=/usr/local/bin/node"
Environment="HOME=/home/pi"
WorkingDirectory=/home/pi/rpi-sense-hat-hue
ExecStartPre=/bin/sleep 1
ExecStart=/usr/local/bin/node /home/pi/rpi-sense-hat-hue/index.js

[Install]
WantedBy=multi-user.target

